In [1]:
from pandas import Series, DataFrame
import pandas as pd
import os
import numpy as np

In [5]:
df_origin = pd.read_csv(os.getcwd() + '/Data/employee_compensation.csv')
df_origin.ix[2]

Year Type                                                  Calendar
Year                                                           2016
Organization Group Code                                           3
Organization Group         Human Welfare & Neighborhood Development
Department Code                                                 WOM
Department                        Department of the Status of Women
Union Code                                                      323
Union                             Members of Boards and Commissions
Job Family Code                                                0900
Job Family                                               Management
Job Code                                                       0111
Job                                      Bdcomm Mbr, Grp2,M=$25/Mtg
Employee Identifier                                           33958
Salaries                                                        200
Overtime                                                          0
Other Salaries                                                    0
Total Salary                                                    200
Retirement                                                        0
Health/Dental                                                 51.45
Other Benefits                                                15.83
Total Benefits                                                67.28
Total Compensation                                           267.28
Name: 2, dtype: object

\>1

In [72]:
df_1 = df_origin[df_origin['Year Type']=='Calendar']
df_1.head(4)

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
5,Calendar,2016,2,"Public Works, Transportation & Commerce",DBI,Department of Building Inspection,790.0,"SEIU - Miscellaneous, Local 1021",1400,"Clerical, Secretarial & Steno",...,23930,80207.24,2232.53,1568.00,84007.77,15064.98,13890.29,6888.51,35843.78,119851.55

In [73]:
df_1 = df_1.iloc[:,8:22]
df_1.groupby('Employee Identifier').mean().head(5)

,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
Employee Identifier,,,,,,,,,
1,40334.303333,0.00,29.673333,40363.976667,8415.146667,8626.160,3172.630,20213.936667,60577.913333
2,11061.700000,0.00,0.000000,11061.700000,2058.580000,1768.100,853.530,4680.210000,15741.910000
3,13722.000000,964.83,0.000000,14686.830000,2498.760000,2870.730,1181.230,6550.720000,21237.550000
4,18574.880000,0.00,210.000000,18784.880000,1463.340000,4829.960,1448.095,7741.395000,26526.275000
5,19525.227500,0.00,5.177500,19530.405000,0.000000,1341.605,1543.940,2885.545000,22415.950000

In [74]:
df_1.groupby('Employee Identifier').mean().shape

(52706, 9)

In [75]:
df_1.shape

(168882, 14)

\>2

In [76]:
df_1[df_1['Overtime']>df_1['Salaries']*0.05].head(2)

,Job Family Code,Job Family,Job Code,Job,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
14,3400,Agriculture & Horticulture,3417,Gardener,23029,63978.00,17039.61,2184.23,83201.84,14287.99,13054.95,6721.63,34064.57,117266.41
23,7100,Administrative-Labor & Trades,7120,Bldgs & Grounds Maint Supt,20763,133977.95,20699.15,0.00,154677.10,24039.10,13890.30,10671.44,48600.84,203277.94

In [87]:
df_1[df_1['Overtime']>df_1['Salaries']*0.05].head(3)

,Job Family Code,Job Family,Job Code,Job,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
14,3400,Agriculture & Horticulture,3417,Gardener,23029,63978.00,17039.61,2184.23,83201.84,14287.99,13054.95,6721.63,34064.57,117266.41
23,7100,Administrative-Labor & Trades,7120,Bldgs & Grounds Maint Supt,20763,133977.95,20699.15,0.00,154677.10,24039.10,13890.30,10671.44,48600.84,203277.94
38,7300,Journeyman Trade,7372,"Stationary Eng, Sewage Plant",8705,86530.02,17962.95,10555.21,115048.18,18665.90,12918.24,9328.44,40912.58,155960.76

In [88]:
s_bool = df_1['Overtime']>df_1['Salaries']*0.05

\>3