也就是说，最后做groupby'Job Family'的table里，应该只含有（部分）员工
部分为：
在Calendar year中
平均overtime大于平均Salaries*0.05

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import os
import numpy as np

In [2]:
df_origin = pd.read_csv(os.getcwd() + '/Data/employee_compensation.csv')
df_origin.ix[2]

Year Type                                                  Calendar
Year                                                           2016
Organization Group Code                                           3
Organization Group         Human Welfare & Neighborhood Development
Department Code                                                 WOM
Department                        Department of the Status of Women
Union Code                                                      323
Union                             Members of Boards and Commissions
Job Family Code                                                0900
Job Family                                               Management
Job Code                                                       0111
Job                                      Bdcomm Mbr, Grp2,M=$25/Mtg
Employee Identifier                                           33958
Salaries                                                        200
Overtime                                                          0
Other Salaries                                                    0
Total Salary                                                    200
Retirement                                                        0
Health/Dental                                                 51.45
Other Benefits                                                15.83
Total Benefits                                                67.28
Total Compensation                                           267.28
Name: 2, dtype: object

\>1

In [3]:
df_1 = df_origin[df_origin['Year Type']=='Calendar']
df_1.head(4)

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
5,Calendar,2016,2,"Public Works, Transportation & Commerce",DBI,Department of Building Inspection,790.0,"SEIU - Miscellaneous, Local 1021",1400,"Clerical, Secretarial & Steno",...,23930,80207.24,2232.53,1568.00,84007.77,15064.98,13890.29,6888.51,35843.78,119851.55

find employees that match the requirements

In [25]:
df_2 = df_1[['Employee Identifier','Salaries','Overtime']]
df_2.head(5)

   Employee Identifier  Salaries  Overtime
0                52206  98528.52      0.00
2                33958    200.00      0.00
3                33073   1783.00      0.00
5                23930  80207.24   2232.53
7                38054  24180.00      0.00

In [27]:
df_temp = df_2.groupby('Employee Identifier').mean()
df_temp.head(3)

                         Salaries  Overtime
Employee Identifier
1                    40334.303333      0.00
2                    11061.700000      0.00
3                    13722.000000    964.83

In [29]:
bool_series = df_temp['Overtime']>df_temp['Salaries']*0.05
bool_series.head(5)

Employee Identifier
1    False
2    False
3     True
4    False
5    False
dtype: bool

In [45]:
df_1[['Employee Identifier','Job Family','Salaries','Overtime','Total Benefits','Total Compensation']].head(4)

,Employee Identifier,Job Family,Salaries,Overtime,Total Benefits,Total Compensation
0,52206,Journeyman Trade,98528.52,0.00,41432.55,143916.66
2,33958,Management,200.00,0.00,67.28,267.28
3,33073,Legal & Court,1783.00,0.00,736.13,2519.13
5,23930,"Clerical, Secretarial & Steno",80207.24,2232.53,35843.78,119851.55

In [46]:
df_3 = df_1[['Employee Identifier','Job Family','Salaries','Overtime','Total Benefits','Total Compensation']]

In [47]:
df_3.head(2)

,Employee Identifier,Job Family,Salaries,Overtime,Total Benefits,Total Compensation
0,52206,Journeyman Trade,98528.52,0.0,41432.55,143916.66
2,33958,Management,200.00,0.0,67.28,267.28

public service aide 11868.42