1. The first step is always take a look at the data
2. Clean and reshape dataframe to the format that I can start working<br>
    \* two marjor formats:<br>
    \* Won/Nominated for xxx. Another x wins & y nominations <br>
    \* x wins & y nominations
3. The 'Awards_won' and 'Awards_nomitated' column is a sum of both Won/Nominated for and another (...).

### Step 1

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import os
import numpy as np

In [2]:
df_origin = pd.read_csv(os.getcwd() + '/Data/movies_awards.csv')
df_origin.head(1)

,totalSeasons,Plot,Rated,Response,Language,Title,Country,Writer,Metascore,imdbRating,...,Released,Actors,Year,Genre,Awards,Runtime,Type,Poster,imdbVotes,imdbID
0,none,NaN,NaN,True,English,Book of Love: The Definitive Reason Why Men Ar...,USA,Jeffrey W. Byrd; Eric George,NaN,6.6,...,14 Feb 2002,40 Glocc; Angelle Brooks; David Brown; Qadr Ca...,2002,Romance; Comedy,NaN,91 min,movie,NaN,79.0,tt0156376

In [3]:
df_origin.ix[:,'Awards'].dropna().head(50)

3                                 1 win & 2 nominations.
4                                                 1 win.
5                                          1 nomination.
6                                3 wins & 2 nominations.
7                                  1 win & 1 nomination.
11                                        5 nominations.
13                               2 wins & 5 nominations.
15     Nominated for 1 Oscar. Another 13 wins & 13 no...
18                               5 wins & 4 nominations.
24     Nominated for 1 Golden Globe. Another 14 wins ...
25                               3 wins & 2 nominations.
28                                         1 nomination.
31                                        5 nominations.
34                                1 win & 2 nominations.
37                             22 wins & 44 nominations.
38                                1 win & 3 nominations.
39                                1 win & 8 nominations.
43                                        2 nominations.
47                                6 wins & 1 nomination.
50     Won 2 Golden Globes. Another 68 wins & 201 nom...
51     Won 1 Golden Globe. Another 31 wins & 143 nomi...
53     Nominated for 4 Primetime Emmys. Another 16 no...
54                               3 wins & 2 nominations.
56                               3 wins & 6 nominations.
62                                               2 wins.
69                               6 wins & 4 nominations.
72                               7 wins & 6 nominations.
76                              9 wins & 30 nominations.
79     Won 1 Primetime Emmy. Another 1 win & 6 nomina...
84                                         1 nomination.
87     Nominated for 3 BAFTA Film Awards. Another 11 ...
88                                        6 nominations.
90                                1 win & 4 nominations.
91                               2 wins & 5 nominations.
94                             14 wins & 11 nominations.
97                                 1 win & 1 nomination.
102                               1 win & 2 nominations.
116                                       2 nominations.
117                              3 wins & 3 nominations.
118    Nominated for 1 Golden Globe. Another 2 wins &...
121                                              2 wins.
134    Nominated for 1 Primetime Emmy. Another 1 nomi...
135                               3 wins & 1 nomination.
138                                1 win & 1 nomination.
139                                        1 nomination.
146                                              2 wins.
150                                        1 nomination.
152                              9 wins & 8 nominations.
162                                               1 win.
164                                               1 win.
Name: Awards, dtype: object

In [4]:
df_origin.ix[1221,'Awards']

'Nominated for 3 Oscars. Another 13 wins & 40 nominations.'

### Step 2

Narrow columns

In [5]:
df_filter = df_origin[['Title','Awards']].dropna()
df_filter.head(10)

                      Title                                             Awards
3              Who Are You?                             1 win & 2 nominations.
4   Skeletons in the Closet                                             1 win.
5        Cheerleader Ninjas                                      1 nomination.
6       The Girl from Paris                            3 wins & 2 nominations.
7         The Final Curtain                              1 win & 1 nomination.
11          Crazy/Beautiful                                     5 nominations.
13    The Anniversary Party                            2 wins & 5 nominations.
15       The Quiet American  Nominated for 1 Oscar. Another 13 wins & 13 no...
18       Like Cat and Mouse                            5 wins & 4 nominations.
24         Punch-Drunk Love  Nominated for 1 Golden Globe. Another 14 wins ...

In [6]:
df_filter['Awards'].str.split('.').str.len().max()

3

In [7]:
df_filter['Awards'].str.split('.').str.len().min()

2

Conclusion: it's easier to check contents manually since the max layer is 3

In [8]:
df_filter['1st step'] = df_filter['Awards'].str.split('.').str.get(0)

In [9]:
df_filter['2nd step'] = df_filter['Awards'].str.split('.').str.get(1)

In [10]:
df_filter['3rd step'] = df_filter['Awards'].str.split('.').str.get(2)

Check content for '3rd step'

In [11]:
df_filter['3rd step'][df_filter['3rd step'].notnull()].unique()

array([''], dtype=object)

Remove '3rd step' since it only contains ''

In [12]:
del df_filter['3rd step']

In [13]:
df_filter.head(8)

,Title,Awards,1st step,2nd step
3,Who Are You?,1 win & 2 nominations.,1 win & 2 nominations,
4,Skeletons in the Closet,1 win.,1 win,
5,Cheerleader Ninjas,1 nomination.,1 nomination,
6,The Girl from Paris,3 wins & 2 nominations.,3 wins & 2 nominations,
7,The Final Curtain,1 win & 1 nomination.,1 win & 1 nomination,
11,Crazy/Beautiful,5 nominations.,5 nominations,
13,The Anniversary Party,2 wins & 5 nominations.,2 wins & 5 nominations,
15,The Quiet American,Nominated for 1 Oscar. Another 13 wins & 13 no...,Nominated for 1 Oscar,Another 13 wins & 13 nominations

My desired layout is:

Column1|Column2
-------|-------
Nominated for ...| Another ...
Won ...| Another...
(Blank/0)|x wins & y nominations
(Blank/0)|x wins / y nominations

But this can't be done directly in dataframe (fillna function can only fill cell with a fix value), so I'm going to use append function in Series

In [14]:
Series_3rd_step_1 = df_filter['1st step'][df_filter['2nd step']=='']

In [15]:
Series_3rd_step_2 = df_filter['2nd step'][df_filter['2nd step']!='']

In [16]:
Series_3rd_step_2.append(Series_3rd_step_1).size

1818

In [17]:
df_filter['3rd step'] = Series_3rd_step_2.append(Series_3rd_step_1)

In [18]:
df_filter['4th step'] = df_filter['1st step'][df_filter['2nd step']!='']

In [19]:
df_filter.head(8)

,Title,Awards,1st step,2nd step,3rd step,4th step
3,Who Are You?,1 win & 2 nominations.,1 win & 2 nominations,,1 win & 2 nominations,NaN
4,Skeletons in the Closet,1 win.,1 win,,1 win,NaN
5,Cheerleader Ninjas,1 nomination.,1 nomination,,1 nomination,NaN
6,The Girl from Paris,3 wins & 2 nominations.,3 wins & 2 nominations,,3 wins & 2 nominations,NaN
7,The Final Curtain,1 win & 1 nomination.,1 win & 1 nomination,,1 win & 1 nomination,NaN
11,Crazy/Beautiful,5 nominations.,5 nominations,,5 nominations,NaN
13,The Anniversary Party,2 wins & 5 nominations.,2 wins & 5 nominations,,2 wins & 5 nominations,NaN
15,The Quiet American,Nominated for 1 Oscar. Another 13 wins & 13 no...,Nominated for 1 Oscar,Another 13 wins & 13 nominations,Another 13 wins & 13 nominations,Nominated for 1 Oscar

In [20]:
df_filter.columns.tolist()

['Title', 'Awards', '1st step', '2nd step', '3rd step', '4th step']

In [21]:
df_step1 = df_filter[['Title','Awards','3rd step','4th step']]
df_step1.head(8)

,Title,Awards,3rd step,4th step
3,Who Are You?,1 win & 2 nominations.,1 win & 2 nominations,NaN
4,Skeletons in the Closet,1 win.,1 win,NaN
5,Cheerleader Ninjas,1 nomination.,1 nomination,NaN
6,The Girl from Paris,3 wins & 2 nominations.,3 wins & 2 nominations,NaN
7,The Final Curtain,1 win & 1 nomination.,1 win & 1 nomination,NaN
11,Crazy/Beautiful,5 nominations.,5 nominations,NaN
13,The Anniversary Party,2 wins & 5 nominations.,2 wins & 5 nominations,NaN
15,The Quiet American,Nominated for 1 Oscar. Another 13 wins & 13 no...,Another 13 wins & 13 nominations,Nominated for 1 Oscar

Now I can start getting data from this dataframe
### Step 3

Work with '3rd step' first

In [22]:
s_split = df_step1['3rd step'].str.split('&')

In [23]:
s_split.head(3)

3    [1 win ,  2 nominations]
4                     [1 win]
5              [1 nomination]
Name: 3rd step, dtype: object

In [24]:
s_split.str.len().unique()

array([2, 1])

Create 'Awards_Won_Raw' column

In [25]:
s_win = s_split.str[0].str.contains('win') #bool Series

In [26]:
df_d = df_step1['3rd step'][s_win].str.split('(\d+)').str[1]

In [27]:
df_step1['Awards_Won_Raw'] = df_d

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [28]:
df_step1 = df_step1.fillna(0)
df_step1.head(8)

,Title,Awards,3rd step,4th step,Awards_Won_Raw
3,Who Are You?,1 win & 2 nominations.,1 win & 2 nominations,0,1
4,Skeletons in the Closet,1 win.,1 win,0,1
5,Cheerleader Ninjas,1 nomination.,1 nomination,0,0
6,The Girl from Paris,3 wins & 2 nominations.,3 wins & 2 nominations,0,3
7,The Final Curtain,1 win & 1 nomination.,1 win & 1 nomination,0,1
11,Crazy/Beautiful,5 nominations.,5 nominations,0,0
13,The Anniversary Party,2 wins & 5 nominations.,2 wins & 5 nominations,0,2
15,The Quiet American,Nominated for 1 Oscar. Another 13 wins & 13 no...,Another 13 wins & 13 nominations,Nominated for 1 Oscar,13

Create 'Awards_Nominated_Raw' column

In [29]:
s_nominate_1 = df_step1['3rd step'].str.split('&').str[0].str.contains('nomina')

In [30]:
s_nominate_2 = df_step1['3rd step'].str.split('&').str[1].str.contains('nomina').fillna(False)

In [31]:
s_nominate = s_nominate_1 | s_nominate_2

In [32]:
df_step1['Awards_Nominated_Raw'] = df_step1['3rd step'][s_nominate].str.split('(\d+ nomination)').str[1].str.split('(\d+)').str[1]

In [33]:
df_step1 = df_step1.fillna(0)
df_step1.head(5)

,Title,Awards,3rd step,4th step,Awards_Won_Raw,Awards_Nominated_Raw
3,Who Are You?,1 win & 2 nominations.,1 win & 2 nominations,0,1,2
4,Skeletons in the Closet,1 win.,1 win,0,1,0
5,Cheerleader Ninjas,1 nomination.,1 nomination,0,0,1
6,The Girl from Paris,3 wins & 2 nominations.,3 wins & 2 nominations,0,3,2
7,The Final Curtain,1 win & 1 nomination.,1 win & 1 nomination,0,1,1

Now work with '4th step' column <br>
    \* do not assume nomination and win share the same name set

Create '_nominated' columns

In [34]:
pd_w_nomi = df_step1.copy()

In [35]:
s_nomi = df_step1['4th step'][df_step1['4th step'].str.contains('Nomi').fillna(False)] # bool Series

In [36]:
s_award_name = s_nomi.str.split('for').str[1].str.split('(\d+ )').str[2].unique()

In [37]:
column_names = set([x[:-1] for x in [x.split()[0] for x in s_award_name] if x.endswith('s')] + [x for x in [x.split()[0] for x in s_award_name] if x[-1]!='s'])

In [38]:
column_names

{'BAFTA', 'Golden', 'Oscar', 'Primetime'}

Assign value to each column Series

In [39]:
s_search = s_nomi.str.split('for').str[1].str.split('(\d+ )')

In [40]:
s_nomi_prime = s_search.str[1][s_search.str[2].str.contains('Prime')]

In [41]:
pd_w_nomi['Primetime_Awards_nominated'] = s_nomi_prime

In [42]:
s_nomi_BAFTA = s_search.str[1][s_search.str[2].str.contains('BAFTA')]

In [43]:
pd_w_nomi['BAFTA_Awards_nominated'] = s_nomi_BAFTA

In [44]:
s_nomi_Oscar = s_search.str[1][s_search.str[2].str.contains('Oscar')]

In [45]:
pd_w_nomi['Oscar_nominated'] = s_nomi_Oscar

In [46]:
s_nomi_GG = s_search.str[1][s_search.str[2].str.contains('Golden')].str.strip()

In [47]:
pd_w_nomi['Golden_Awards_nominated'] = s_nomi_GG

In [48]:
pd_w_nomi = pd_w_nomi.fillna(0)
pd_w_nomi.ix[24]

Title                                                          Punch-Drunk Love
Awards                        Nominated for 1 Golden Globe. Another 14 wins ...
3rd step                                       Another 14 wins & 34 nominations
4th step                                           Nominated for 1 Golden Globe
Awards_Won_Raw                                                               14
Awards_Nominated_Raw                                                         34
Primetime_Awards_nominated                                                    0
BAFTA_Awards_nominated                                                        0
Oscar_nominated                                                               0
Golden_Awards_nominated                                                       1
Name: 24, dtype: object

告一段落，新建一个copy <br>
然后在这个copy上计算真正的Awards_Nominated value

In [49]:
pd_w_nomi_copy = pd_w_nomi.copy()

In [50]:
col_list = list(pd_w_nomi_copy)

In [51]:
col_list[4]

'Awards_Won_Raw'

In [52]:
pd_w_nomi_copy.head(1)

,Title,Awards,3rd step,4th step,Awards_Won_Raw,Awards_Nominated_Raw,Primetime_Awards_nominated,BAFTA_Awards_nominated,Oscar_nominated,Golden_Awards_nominated
3,Who Are You?,1 win & 2 nominations.,1 win & 2 nominations,0,1,2,0,0,0,0

In [53]:
pd_w_nomi_copy =pd.concat([pd_w_nomi[col_list[:4]], pd_w_nomi[col_list[4:]].astype(int)], axis=1)

In [54]:
pd_w_nomi_copy['Awards_nominated'] = pd_w_nomi_copy[col_list[5:]].sum(axis=1)

In [55]:
pd_w_nomi_copy.ix[24]

Title                                                          Punch-Drunk Love
Awards                        Nominated for 1 Golden Globe. Another 14 wins ...
3rd step                                       Another 14 wins & 34 nominations
4th step                                           Nominated for 1 Golden Globe
Awards_Won_Raw                                                               14
Awards_Nominated_Raw                                                         34
Primetime_Awards_nominated                                                    0
BAFTA_Awards_nominated                                                        0
Oscar_nominated                                                               0
Golden_Awards_nominated                                                       1
Awards_nominated                                                             35
Name: 24, dtype: object

Create '_won' columns <br>
从这儿开始算won的数字

In [56]:
pd_w_won = pd_w_nomi_copy.copy()

In [57]:
s_won = pd_w_won['4th step'][pd_w_won['4th step'].str.contains('Won').fillna(False)]

In [58]:
s_won.head(5)

50      Won 2 Golden Globes
51       Won 1 Golden Globe
79     Won 1 Primetime Emmy
545           Won 11 Oscars
561             Won 1 Oscar
Name: 4th step, dtype: object

In [59]:
s_award_name = s_won.str.split('(\d+ )').str[2].unique()

In [60]:
s_award_name

array(['Golden Globes', 'Golden Globe', 'Primetime Emmy', 'Oscars',
       'Oscar', 'Primetime Emmys'], dtype=object)

In [61]:
column_names = set([x[:-1] for x in [x.split()[0] for x in s_award_name] if x.endswith('s')] + [x for x in [x.split()[0] for x in s_award_name] if x[-1]!='s'])

In [62]:
column_names

{'Golden', 'Oscar', 'Primetime'}

Assign values to columns

In [63]:
s_search = s_won.str.split('(\d+)')

In [64]:
s_won_prime = s_search.str[1][s_search.str[2].str.contains('Prime')]

In [65]:
pd_w_won['Primetime_Awards_won'] = s_won_prime

In [66]:
s_won_Oscar = s_search.str[1][s_search.str[2].str.contains('Oscar')]

In [67]:
pd_w_won['Oscar_Awards_won'] = s_won_Oscar

In [68]:
s_won_GG= s_search.str[1][s_search.str[2].str.contains('Golden')]

In [69]:
pd_w_won['Golden_Awards_won'] = s_won_GG

In [70]:
pd_w_won = pd_w_won.fillna(0)

In [71]:
pd_w_won.head(3)

,Title,Awards,3rd step,4th step,Awards_Won_Raw,Awards_Nominated_Raw,Primetime_Awards_nominated,BAFTA_Awards_nominated,Oscar_nominated,Golden_Awards_nominated,Awards_nominated,Primetime_Awards_won,Oscar_Awards_won,Golden_Awards_won
3,Who Are You?,1 win & 2 nominations.,1 win & 2 nominations,0,1,2,0,0,0,0,2,0,0,0
4,Skeletons in the Closet,1 win.,1 win,0,1,0,0,0,0,0,0,0,0,0
5,Cheerleader Ninjas,1 nomination.,1 nomination,0,0,1,0,0,0,0,1,0,0,0

In [72]:
pd_w_won_copy = pd_w_won.copy()

In [73]:
col_list = list(pd_w_won_copy)

In [74]:
col_list

['Title',
 'Awards',
 '3rd step',
 '4th step',
 'Awards_Won_Raw',
 'Awards_Nominated_Raw',
 'Primetime_Awards_nominated',
 'BAFTA_Awards_nominated',
 'Oscar_nominated',
 'Golden_Awards_nominated',
 'Awards_nominated',
 'Primetime_Awards_won',
 'Oscar_Awards_won',
 'Golden_Awards_won']

In [75]:
col_list = ['Title',
 'Awards',
 '3rd step',
 '4th step',
 'Awards_Nominated_Raw',
 'Primetime_Awards_nominated',
 'BAFTA_Awards_nominated',
 'Oscar_nominated',
 'Golden_Awards_nominated',
 'Awards_nominated',
 'Awards_Won_Raw',
 'Primetime_Awards_won',
 'Oscar_Awards_won',
 'Golden_Awards_won']

In [76]:
pd_w_won_copy = pd_w_won_copy[col_list]

In [77]:
pd_w_won_copy.head(1)

,Title,Awards,3rd step,4th step,Awards_Nominated_Raw,Primetime_Awards_nominated,BAFTA_Awards_nominated,Oscar_nominated,Golden_Awards_nominated,Awards_nominated,Awards_Won_Raw,Primetime_Awards_won,Oscar_Awards_won,Golden_Awards_won
3,Who Are You?,1 win & 2 nominations.,1 win & 2 nominations,0,2,0,0,0,0,2,1,0,0,0

In [78]:
pd_w_won_copy.ix[50]

Title                                                                        24
Awards                        Won 2 Golden Globes. Another 68 wins & 201 nom...
3rd step                                      Another 68 wins & 201 nominations
4th step                                                    Won 2 Golden Globes
Awards_Nominated_Raw                                                        201
Primetime_Awards_nominated                                                    0
BAFTA_Awards_nominated                                                        0
Oscar_nominated                                                               0
Golden_Awards_nominated                                                       0
Awards_nominated                                                            201
Awards_Won_Raw                                                               68
Primetime_Awards_won                                                          0
Oscar_Awards_won                                                              0
Golden_Awards_won                                                             2
Name: 50, dtype: object

In [79]:
col_list[9:13]

['Awards_nominated',
 'Awards_Won_Raw',
 'Primetime_Awards_won',
 'Oscar_Awards_won']

In [80]:
pd_w_won_copy =pd.concat([pd_w_won_copy[col_list[:4]], pd_w_won_copy[col_list[4:]].astype(int)], axis=1)

In [81]:
pd_w_won_copy['Awards_won'] = pd_w_won_copy[col_list[10:]].sum(axis=1)

In [82]:
pd_w_won_copy.ix[50]

Title                                                                        24
Awards                        Won 2 Golden Globes. Another 68 wins & 201 nom...
3rd step                                      Another 68 wins & 201 nominations
4th step                                                    Won 2 Golden Globes
Awards_Nominated_Raw                                                        201
Primetime_Awards_nominated                                                    0
BAFTA_Awards_nominated                                                        0
Oscar_nominated                                                               0
Golden_Awards_nominated                                                       0
Awards_nominated                                                            201
Awards_Won_Raw                                                               68
Primetime_Awards_won                                                          0
Oscar_Awards_won                                                              0
Golden_Awards_won                                                             2
Awards_won                                                                   70
Name: 50, dtype: object

In [83]:
pd_w_won_copy2 = pd_w_won_copy

In [84]:
pd_w_won_copy2.drop(['3rd step','4th step','Awards_Nominated_Raw','Awards_Won_Raw'], axis=1).head(20)

,Title,Awards,Primetime_Awards_nominated,BAFTA_Awards_nominated,Oscar_nominated,Golden_Awards_nominated,Awards_nominated,Primetime_Awards_won,Oscar_Awards_won,Golden_Awards_won,Awards_won
3,Who Are You?,1 win & 2 nominations.,0,0,0,0,2,0,0,0,1
4,Skeletons in the Closet,1 win.,0,0,0,0,0,0,0,0,1
5,Cheerleader Ninjas,1 nomination.,0,0,0,0,1,0,0,0,0
6,The Girl from Paris,3 wins & 2 nominations.,0,0,0,0,2,0,0,0,3
7,The Final Curtain,1 win & 1 nomination.,0,0,0,0,1,0,0,0,1
11,Crazy/Beautiful,5 nominations.,0,0,0,0,5,0,0,0,0
13,The Anniversary Party,2 wins & 5 nominations.,0,0,0,0,5,0,0,0,2
15,The Quiet American,Nominated for 1 Oscar. Another 13 wins & 13 no...,0,0,1,0,14,0,0,0,13
18,Like Cat and Mouse,5 wins & 4 nominations.,0,0,0,0,4,0,0,0,5
24,Punch-Drunk Love,Nominated for 1 Golden Globe. Another 14 wins ...,0,0,0,1,35,0,0,0,14
25,Romeo,3 wins & 2 nominations.,0,0,0,0,2,0,0,0,3
28,Academia de baile Gloria,1 nomination.,0,0,0,0,1,0,0,0,0
31,Return to Never Land,5 nominations.,0,0,0,0,5,0,0,0,0
34,Better Luck Tomorrow,1 win & 2 nominations.,0,0,0,0,2,0,0,0,1
37,A Grande Família,22 wins & 44 nominations.,0,0,0,0,44,0,0,0,22
38,El lado oscuro del corazón 2,1 win & 3 nominations.,0,0,0,0,3,0,0,0,1
39,Slap Shot 2: Breaking the Ice,1 win & 8 nominations.,0,0,0,0,8,0,0,0,1
43,Van Wilder: Party Liaison,2 nominations.,0,0,0,0,2,0,0,0,0
47,Black Box BRD,6 wins & 1 nomination.,0,0,0,0,1,0,0,0,6
50,24,Won 2 Golden Globes. Another 68 wins & 201 nom...,0,0,0,0,201,0,0,2,70

Last step is to switch column orders and output to csv

In [87]:
l_out = pd_w_won_copy2.columns.tolist()
l_out

['Title',
 'Awards',
 '3rd step',
 '4th step',
 'Awards_Nominated_Raw',
 'Primetime_Awards_nominated',
 'BAFTA_Awards_nominated',
 'Oscar_nominated',
 'Golden_Awards_nominated',
 'Awards_nominated',
 'Awards_Won_Raw',
 'Primetime_Awards_won',
 'Oscar_Awards_won',
 'Golden_Awards_won',
 'Awards_won']

In [88]:
l_out = ['Title',
 'Awards',
 'Awards_won',
 'Awards_nominated',
 'Primetime_Awards_nominated',
 'BAFTA_Awards_nominated',
 'Oscar_nominated',
 'Golden_Awards_nominated',
 'Primetime_Awards_won',
 'Oscar_Awards_won',
 'Golden_Awards_won'
 ]

In [90]:
df_output = pd_w_won_copy2[l_out]
df_output.head(25)

,Title,Awards,Awards_won,Awards_nominated,Primetime_Awards_nominated,BAFTA_Awards_nominated,Oscar_nominated,Golden_Awards_nominated,Primetime_Awards_won,Oscar_Awards_won,Golden_Awards_won
3,Who Are You?,1 win & 2 nominations.,1,2,0,0,0,0,0,0,0
4,Skeletons in the Closet,1 win.,1,0,0,0,0,0,0,0,0
5,Cheerleader Ninjas,1 nomination.,0,1,0,0,0,0,0,0,0
6,The Girl from Paris,3 wins & 2 nominations.,3,2,0,0,0,0,0,0,0
7,The Final Curtain,1 win & 1 nomination.,1,1,0,0,0,0,0,0,0
11,Crazy/Beautiful,5 nominations.,0,5,0,0,0,0,0,0,0
13,The Anniversary Party,2 wins & 5 nominations.,2,5,0,0,0,0,0,0,0
15,The Quiet American,Nominated for 1 Oscar. Another 13 wins & 13 no...,13,14,0,0,1,0,0,0,0
18,Like Cat and Mouse,5 wins & 4 nominations.,5,4,0,0,0,0,0,0,0
24,Punch-Drunk Love,Nominated for 1 Golden Globe. Another 14 wins ...,14,35,0,0,0,1,0,0,0
25,Romeo,3 wins & 2 nominations.,3,2,0,0,0,0,0,0,0
28,Academia de baile Gloria,1 nomination.,0,1,0,0,0,0,0,0,0
31,Return to Never Land,5 nominations.,0,5,0,0,0,0,0,0,0
34,Better Luck Tomorrow,1 win & 2 nominations.,1,2,0,0,0,0,0,0,0
37,A Grande Família,22 wins & 44 nominations.,22,44,0,0,0,0,0,0,0
38,El lado oscuro del corazón 2,1 win & 3 nominations.,1,3,0,0,0,0,0,0,0
39,Slap Shot 2: Breaking the Ice,1 win & 8 nominations.,1,8,0,0,0,0,0,0,0
43,Van Wilder: Party Liaison,2 nominations.,0,2,0,0,0,0,0,0,0
47,Black Box BRD,6 wins & 1 nomination.,6,1,0,0,0,0,0,0,0
50,24,Won 2 Golden Globes. Another 68 wins & 201 nom...,70,201,0,0,0,0,0,0,2
51,Alias,Won 1 Golden Globe. Another 31 wins & 143 nomi...,32,143,0,0,0,0,0,0,1
53,According to Jim,Nominated for 4 Primetime Emmys. Another 16 no...,0,20,4,0,0,0,0,0,0
54,The Education of Max Bickford,3 wins & 2 nominations.,3,2,0,0,0,0,0,0,0
56,A Padroeira,3 wins & 6 nominations.,3,6,0,0,0,0,0,0,0
62,Poker,2 wins.,2,0,0,0,0,0,0,0,0

In [92]:
df_output.to_csv(os.getcwd()+'/Q4_Part1_output.csv')